
/* Jumbotron */

.jumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/blur_patterns.jpg') no-repeat;
  background-size: 100%;
  margin-bottom: 0px;
  height: 300px;
  color: white;
}

.jumbotron p {
  font-size: 22px;
}

/* Signin */

#signin {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
  padding: 1em;
  background-color: whiteSmoke;
  border-bottom: 1pt solid #E5E5E5;
}

#signinStatusContainer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
}

#signinStatusContainer > :not(.visible) {
  display: none;
}

/* Body */

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

blockquote {
    margin-bottom: 10px;
    border-left-color: #bbb;
}

.navbar-brand {
  color: green;
}

/* Table */

.table-hover {
    max-width: 40%;
    border-collapse: collapse;
    border-radius: 3px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
}

.table-hover th {
    background-color: green;
    color: white;
}

.table-hover th:first-child {
    border-radius: 3px 0 0 0;
}

.table-hover th:last-child {
    border-radius: 0 3px 0 0;
}

.table-hover > tbody > tr:hover {
  background-color: #fbf8e9;
}

/* Forms */

form {
    margin-top: 10px;
}

form label {
  width: 90px;
  display: inline-block;
}

.form-control {
    max-width: 50%;
}

.form-signin input[type="text"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* Rows */

.row {
    margin-left: 0px;
    margin-top: 10px;
    overflow: scroll;
}