<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Recognize: Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Recognize</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/admin">Admin</a></li>
                <li><a href="/match">Match</a></li>
                <li><a href="/correlate">Correlate</a></li>
                <li><a href="/oddmanout">Odd Man Out</a></li>
              </ul>
            </div>
        </div>
    </nav>
    <output id="outputLog"></output>
<!--     <a href="javascript:void(0);" class="btn" id="signinButton">Sign in</a> -->
    <div class="container" id="signin">
        <div id="signinStatusContainer">
          <!-- Need an extra container since G+ overrides CSS on the actual button -->
          <div id="signinButtonContainer" class="visible">
            <div id="signinButton"></div>
          </div>
          <a href="#" onclick="google.appengine.samples.hello.signout();" id="signedInStatus">Sign Out</a>
        </div>
        <span id="userLabel">(not signed in)</span>
    </div>
    <br>
    <div class="container">
        <form id="search_form" class="form-search" onsubmit="return false;">
            <h3>Search Image</h3>
            <input required="true" id="searchTerm" type="text" class="input-medium .search-query">
            <button id="getGreeting" type="submit" class="btn btn-default" onsubmit="setFormSubmitting()">Go</button>
            <a id="clear" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear</a>
        </form>
    </div>
    <!--
    <form onsubmit="return false;">
        <h2>Get Greeting</h2>
        <div><label for="id">Greeting ID:</label><input id="id" /></div>
        <div><input id="getGreeting" type="submit" class="btn btn-small" value="Submit"></div>
    </form>

    <form onsubmit="return false;">
        <h2>List Greetings</h2>
        <div><input id="listGreeting" type="submit" class="btn btn-small" value="Submit"></div>
    </form>

    <form onsubmit="return false;">
        <h2>Multiply Greetings</h2>
        <div><label for="greeting">Greeting:</label><input id="greeting" /></div>
        <div><label for="count">Count:</label><input id="count" /></div>
        <div><input id="multiplyGreetings" type="submit" class="btn btn-small" value="Submit"></div>
    </form>
    <form onsubmit="return false;">
        <h2>Authenticated Greeting</h2>
        <div><input id="authedGreeting" type="submit" class="btn btn-small" disabled value="Submit"></div>
    </form> 
    <script>
        function init() {
            google.appengine.samples.hello.init('//' + window.location.host + '/_ah/api');
        }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>-->
<!-- </div> -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/render.js"></script>
    <script async src="/js/base.js"></script>
    <script type="text/javascript">
        var form = document.getElementById('search_form'); // form has to have ID: <form id="formID">
        form.noValidate = true;
        form.addEventListener('submit', function(event) { // listen for form submitting
                if (!event.target.checkValidity()) {
                    event.preventDefault(); // dismiss the default functionality
                    alert('Please enter a search term!'); // error message
                }
                return false;
            }, false);
    </script>
    <script type="text/javascript">
        $('#clear').click( function () {
            $('img').remove();
        });
    </script>
</body>
</html>