<!DOCTYPE html>
<html>
    <head>
        <title>Recognize Web App</title>
        <script type="text/javascript" src="/js/base.js"></script>
        // <script src="js/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <!-- <link rel="stylesheet" href="/css/base.css"> -->
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/render.js"></script>
        <!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css"> -->
    </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <!-- <div class="navbar-inner"> -->
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Recognize</a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/admin">Admin</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Curate<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/match">Match</a></li>
                    <li><a href="/correlate">Correlate</a></li>
                    <li><a href="/oddmanout">Odd Man Out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
    <!-- </div> -->
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>Recognize is a new visual recognition game based purely on images! Quiz yourself in various topics with three different games: Match, Correlate, and Odd Man Out.</p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>
<div class="container">

    <output id="outputLog"></output>
    <!-- <a href="javascript:void(0);" class="btn" id="signinButton">Sign in</a> -->

<!--     <form onsubmit="return false;">
        <h2>List Greetings</h2>
        <div><input id="listGreeting" type="submit" class="btn btn-small" value="Submit"></div>
    </form> -->

     <!-- <form onsubmit="return false;">
        <h2>Multiply Greetings</h2>
        <div><label for="greeting">Greeting:</label><input id="greeting" /></div>
        <div><label for="count">Count:</label><input id="count" /></div>
        <div><input id="multiplyGreetings" type="submit" class="btn btn-small" value="Submit"></div>
    </form>
    <form onsubmit="return false;">
        <h2>Authenticated Greeting</h2>
        <div><input id="authedGreeting" type="submit" class="btn btn-small" disabled value="Submit"></div>
    </form>   -->
    <script>
        function init() {
            google.appengine.samples.hello.init('//' + window.location.host + '/_ah/api');
        }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</div>
</body>
</html>