<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Recognize: Odd Man Out Albums</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="css/select.dataTables.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Recognize</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/match">Match</a></li>
                    <li><a href="/correlate">Correlate</a></li>
                    <li class="active"><a href="/oddmanout">Odd Man Out</a></li>
                  </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <output id="outputLog"></output>
            <!-- Insert a table displaying recently created albums, perhaps with pagination to show more -->
            <br>
            <h2>Odd Man Out Albums</h2>
            <br>
            <div class="table">
            <table id="album_list" class="table table-hover table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Date Added</th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                <!-- TODO: Use Jinja to iterate a list passed in by MainPage handler to populate table -->
                {% for album in album_store %}
                    <tr>
                        <td>
                        {% if album.title == None %}
                            Untitled
                        {% else %}
                            {{ album.title }}
                        {% endif %}
                        </td>
                        <td>{{ album.category }}</td>
                        <td>{{ album.date.date() }}</td>
                        <td><a id="edit" href="edit?album=1&amp;id={{album.key.urlsafe()}}" id="edit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
                        <a id="delete" class="btn btn-danger btn-sm" value="{{album.key.urlsafe()}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <a href="create?album=1&amp;type=oddmanout&amp;edit=0" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Add Album
            </a>
            <!-- <a id="delete" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a> -->
        </div>
        <script async src="/js/base.js"></script>
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/dataTables.select.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var table = $('#album_list').DataTable( {
                    dom: '<lf<t>ip>',
                    order: [[1, "desc"]],
                    language: {
                        emptyTable: "No albums created yet!",
                        infoEmpty: "Create a new album!"
                    }
                    // select: true
                });
                // Delete function to remove rows and respective album entities from Datastore 
                $('.table #delete').click( function () {
                    var id = $(this).attr('id');
                    if(id == 'delete'){
                        var album_url = $(this).attr("value");
                        if(confirm('Are you sure you want to delete this album?')){
                            table.row($(this).closest("tr")).remove().draw( false );
                            $.ajax({url: "/delete?id="+album_url, success: function(result){
                                // alert('Successfully removed!');
                            }});
                        }
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>
{% endautoescape %}